@import url('https://fonts.googleapis.com/css2?family=Tourney:wght@800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300&family=Tajawal&family=Tourney:wght@800&display=swap');

:root{
    --orange: #D97706;
    --color-grey: #6B7280;
    --light-grey: #9CA3AF;
    --color-pink: #EF4444;
    --color-green: #10B981;

}

/* markdown css */
.hero{
    font-family: 'Tourney', cursive;
    margin: 0px;
    color: var(--orange);
}
.hero .heading{
    color: var(--color-grey);
}

body{
    font-family: 'Signika', sans-serif;
}

span{
    color: var(--light-grey);
}
.photo{
    display: block;
    max-width: 900px;
    margin: auto;
    margin-top: 3rem;
}
.head{
    color: var(--color-grey);
    text-align: center;
    font-size: 2rem;
}
/* blog1 css */
.heroblog1{
    color: var(--color-pink);
}
.syntax{
    font-size: 1.4rem;
    color: var(--color-green);
}
.value{
    color: var(--color-pink);
    font-size: 1.1rem;
}
img{
    display: block;
    margin: auto;
    margin-top: 3rem;
    max-width: 900px;
    margin-bottom: 3rem;
}
.note{
    color: var(--color-grey);
    text-align: center;
    font-size: 1.2rem;
}